[submodule "tpl/spdlog"]
	path = tpl/spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "tpl/cpp-tree-sitter"]
	path = tpl/cpp-tree-sitter
	url = https://github.com/nsumner/cpp-tree-sitter.git
[submodule "tpl/cpp-subprocess"]
	path = tpl/cpp-subprocess
	url = https://github.com/arun11299/cpp-subprocess.git
